{% extends 'base.html' %}

{% block content %}

      <div class="jumbotron">
          <h1 class="display-3">List of reservations</h1>
      </div>
      <div class="container">
             <table class="table">
                <thead>
                    <tr>
                        <th>Reservation id</th>
                        <th>Guest Name</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td><a href="#">{{reservation.id}}</a></td>
                            <td><a href="#">{{reservation.guest}}</a></td>
                            <td>{{reservation.arrival}}</td>
                            <td>{{reservation.departure}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
<div>
                <p><a class="btn btn-primary btn-lg" href="{% url 'create_reservation' %}" role="button">Add reservation</a></p>
            </div>

{% endblock %}