{% extends 'base.html' %}

{% block content %}

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Create New Room Type</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <label for="room_type_name">Room Type Name</label>
                    <input class="form-control" id="room_type_name" type="text" placeholder="E.g. Single Room">
                </div>
                <div>
                    <label for="bed_type">Bed Type</label>
                    <select class="form-control" name="bed_type" id="bed_type">
                        {% for bed in beds.all %}
                        <option value="{{ bed.id }}">{{bed}}</option>
                        {% endfor %}
                    </select>
                    <label for="num_beds">Number of Beds</label>
                    <select class="form-control" name="num_beds" id="num_beds">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>

                </div>
                <div>
                    <label for="max_occupancy">Maximum Occupancy</label>
                    <input class="form-control" id="max_occupancy" type="text" value="">
                </div>
                <div>
                    <label for="room_img">Upload room photo</label>
                    <input class="form-control" id="room_img" type="file" name="room_img" accept="image/*">
                </div>
                <input class="btn btn-primary form-control" type="submit" value="Create new room">
            </form>
        </div>
      </div>

{% endblock %}