{% extends 'base.html' %}

{% block content %}

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Add new room</h1>
            <form action="" method="POST">
                <label for="room_name">Room Name</label>
                <input id="room_name" type="text" placeholder="E.g. Single Room">
                <label for="room_occupancy">Max occupancy</label>
                <select name="Occupancy" id="room_occupancy">
                    <option value="1">1 guest</option>
                    <option value="2">2 guests</option>
                    <option value="3">3 guests</option>
                    <option value="4">4 guests</option>
                </select>
                <label for="room_img">Upload room photo</label>
                <input id="room_img" type="file" name="room_img" accept="image/*">
                <input class="btn btn-primary" type="submit" value="Create new room">
            </form>
        </div>
      </div>

{% endblock %}