{% extends 'base.html' %}

{% block content %}

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">List of rooms</h1>
            {% for room in rooms.all %}


            <div>
                <div>
                    <a href="{% url 'room_details' room.id %}">{{ room.name }}</a>
                </div>
                <img src="{{ room.image.url }}" alt="{{ room.name }}">
            </div>

            {% endfor %}




          <p><a class="btn btn-primary btn-lg" href="{% url 'create_room' %}" role="button">Add room</a></p>
        </div>
      </div>

{% endblock %}