{% extends 'base.html' %}

{% block content %}

      <div class="jumbotron">
          <h1 class="display-3">List of rooms</h1>
          <a class="btn btn-primary btn-lg pull-right" href="{% url 'create_room' %}" role="button">Add room</a>
      </div>
        <div class="container">
            <div class="row">
                {% for room in rooms.all %}

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ room.image.url }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <p class="card-text">{{ room.description }}</p>
                      <p class="card-text">Max occupancy: {{ room.occupancy }}</p>
                    <a href="{% url 'room_details' room.id %}" class="btn btn-primary">Room Details</a>
                  </div>
            </div>
            {% endfor %}
            </div>
            </div>
{% endblock %}