{% extends 'base.html' %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hi, {{ property.name }}</h1>
            <h4>Here is who checks-in, checks-out, or stays-over today</h4>
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Arrivals  <i class="fa fa-sign-in" aria-hidden="true"></i></h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Res id</th>
                  <th scope="col">Guest Name</th>
                  <th scope="col">Room</th>
                </tr>
              </thead>
              <tbody>
                {% if not arrivals %}
                <tr><td colspan="3" class="text-center">No arrivals today</td></tr>
                {% else %}
                {% for arrival in arrivals %}
                <tr>
                  <th scope="row"><a href="{% url 'reservation_details' departure.id %}">{{ arrival.id }}</a></th>
                  <td><a href="{% url 'guest_details' departure.guest.id %}">{{ arrival.guest }}</a></td>
                  <td><a href="{% url 'room_details' departure.rooms.id %}">{{ arrival.rooms }}</a></td>
                </tr>
              {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <h2>Departures  <i class="fa fa-sign-out" aria-hidden="true"></i></h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Res id</th>
                  <th scope="col">Guest Name</th>
                  <th scope="col">Room</th>
                </tr>
              </thead>
              <tbody>
                {% if not departures %}
                <tr><td colspan="3" class="text-center">No departures today</td></tr>
                {% else %}
                {% for departure in departures%}
                <tr>
                  <th scope="row"><a href="{% url 'reservation_details' departure.id %}">{{ departure.id }}</a></th>
                  <td><a href="{% url 'guest_details' departure.guest.id %}">{{ departure.guest }}</a></td>
                  <td><a href="{% url 'room_details' departure.rooms.id %}">{{ departure.rooms }}</a></td>
                </tr>
              {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <h2>Stay-overs <i class="fa fa-bed" aria-hidden="true"></i></h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Res id</th>
                  <th scope="col">Guest Name</th>
                  <th scope="col">Room</th>
                </tr>
              </thead>
              <tbody>
                {% if not stayovers %}
                <tr><td colspan="3" class="text-center">No stay-overs today</td></tr>
                {% else %}
                {% for stayover in stayovers %}
                <tr>
                  <th scope="row"><a href="{% url 'reservation_details' stayover.id %}">{{ stayover.id }}</a></th>
                  <td><a href="{% url 'guest_details' stayover.guest.id %}">{{ stayover.guest }}</a></td>
                  <td><a href="{% url 'room_details' stayover.rooms.id %}">{{ stayover.rooms }}</a></td>
                </tr>
              {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    {% endblock %}