{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 id="welcome" class="display-3">Welcome to Property Manager!</h1>
          <img id="main-img" src="{% static 'images/home.jpg' %}" alt="">

            <p>Property Manager will help you administering your property effectively including reservations, guests, rooms, and rates.</p>
          <p><a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Get Started &raquo;</a></p>
        </div>
      </div>
      <div ></div>

    {% endblock %}