{% extends 'base.html' %}


{% block content %}
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Please Login</h1>
            {% if error %}
<div>{{ error }}</div>
{% endif %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}

                <div>
                    <label for="email">Email:</label>
                    <input  class="form-control" id="email" name="email" type="email" placeholder="email@email.com">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input  class="form-control" id="password" name="password" type="password" placeholder="password">
                </div>

                <input class="btn btn-primary" type="submit" value="Login">
            </form>

        </div>
      </div>


    {% endblock %}